.error {
  border: 2px solid red;
}

body {
    font-family: sans-serif;
    background-image:url("public_files_y.jpg");
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 2rem auto;
    background-image:url("1thf3unysx0.jpg");
    padding: 20px;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}

input[type="submit"] {
    border-radius: 5px;
    background-color: #efefef;
    color: #444;
    border: none;
    padding: 10px 50px;
    font-size: 1em;
}

input[type="submit"]:hover {
    color: #222;
    cursor: pointer;
}
